# MongoDB Atlas Configuration
MONGODB_USERNAME=your_mongodb_username
MONGODB_PASSWORD=your_mongodb_password
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxxx.mongodb.net/payment_gateway?retryWrites=true&w=majority

# Xendit Configuration
XENDIT_SECRET_KEY=xnd_development_your_secret_key_here
